[submodule "tmux-powerline"]
	path = tmux-powerline
	url = https://github.com/jedipunkz/tmux-powerline.git
[submodule ".vim/neobundle.vim.git"]
	path = .vim/neobundle.vim.git
	url = https://github.com/Shougo/neobundle.vim
