[user]
	name = Kanai Masumi
	email = masumi.net@gmail.com
[color]
	ui = auto
[alias]
	gr = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
	co = checkout
	cob= !git checkout  $(git branch | peco)
	rmb= !git branch -d $(git branch | peco)
	ci = commit
	cp = cherry-pick
	st = status -sb
	b = branch
	br = branch
	mg = merge --ff
	mgnf = merge --no-ff
	df = diff
	difff = diff --word-diff
	p = !git push origin $(git rev-parse --abbrev-ref HEAD)
	pushset = push --set-upstream
	cancel = reset --soft HEAD^
	zip = !git archive --format=zip HEAD > $(basename $(git rev-parse --show-toplevel)-$(git rev-parse --short HEAD)).zip
	tgz = !git archive --format=tar.gz HEAD > $(basename $(git rev-parse --show-toplevel)-$(git rev-parse --short HEAD)).tar.gz
[core]
	quotepath = false
	excludesfile = /Users/masumi/dotfiles/global.gitignore
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[merge]
	ff = true
	tool = vimdiff
[push]
	default = simple
[pull]
	ff = only
[ghq]
	root = ~/dev/src
[include]
	path = ~/local/config/gitconfig
