distlib==0.3.7
filelock==3.20.3
greenlet==3.1.1
msgpack==1.0.5
pbr==5.11.1
platformdirs==3.10.0
powerline-status==2.7
pynvim==0.4.3
stevedore==5.1.0
virtualenv==20.26.6
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
