<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{.Name}}</title>

    <!--<link rel="stylesheet/less" type="text/css" href="/assets/style.less">-->
    <!--<script src="/assets/less.js" type="text/javascript"></script>-->
    <link rel="stylesheet" type="text/css" href="/assets/monokai-sublime.css">
    <script src="/assets/highlight.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/assets/katex.min.css">
    <script src="/assets/katex.min.js" type="text/javascript"></script>
    <script src="/assets/auto-render.min.js"  type="text/javascript"></script>
    <script>
     document.addEventListener("DOMContentLoaded", () => {
       var katex_opts = {
         displayMode: true
       };

       Array.from(document.querySelectorAll("div"), elem => {
         if (elem.className === "highlight highlight-math") {
           var e = elem.querySelector("pre");
           katex.render(e.textContent, e, katex_opts);
         } else {
           hljs.highlightBlock(elem.querySelector("pre"));
         }
       });

       renderMathInElement(document.body, {
         delimiters: [
           {left: "$", right: "$", display: false},
         ]
       });
     });
    </script>
  </head>
  <body>{{.Body}}</body>
</html>
